@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* home route and active route will show in bold as it matches / and /about */

/* exact link will show the primary color for only the exact matching link */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}
body{
overflow-y: scroll;

}